In [6]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [7]:
con = create_engine('mysql+pymysql://root:root@localhost/sakila')

# Queries

1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, addresss, and city.

In [8]:
q = """
SELECT customer.first_name, customer.last_name, customer.email, address.address, city.city
FROM customer
JOIN address
ON customer.address_id = address.address_id
JOIN city
ON address.city_id = city.city_id
WHERE city.city_id = 312;
"""
pd.read_sql(q, con)

,first_name,last_name,email,address,city
0,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,London
1,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,London

2. What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.

In [ ]:
q = """

"""